//text
$bold: 700;
$normal: 400;

// color
$blue: #2595C7;
$blue_dark: #035579;
$red_chart: #ED4135;
$red_button: #D90B0B;
$red_button_submit: #FF5353;
$red_btn_hover: #ad2f2f;
$border_color: #707070;
$white: #fff;
$black: #000;
$border_shadow: #D8D8D8;
$grey: #E5E5E5;
$text: #333;
$text_placeholder: #7b7878;


//color login and register:
$grey_login: #F0F0F0;
$btn_login_register: #FF5353;
$color_login_bnt: #AAAAAA;

// type_size
$btn_radius: 10px;
$block_radius: 7px;
$line_radius: 7px;

//efects
$btn_transition: 0.3s;


//banco
$nubank: #84139E;
$red_bradesco: #E13C43;
$banco_brasil: #F8D117;
$itau: #002f6f;
$caixa: #3784b4;
$nubank_dark: #5c086f;
$bradesco_dark: #b92d33;
$b_brasil_dark: #ffff00;
$itau_dark: #001229;
$caixa_dark: #1b5980;